.copy p {
    color: white;
    text-align: right;
    padding-right: 20px;
    position: relative;
    bottom: 17px;
    top: 10px
}

footer {
    background-color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 60px;
}