.adventageTitle{
    font-style: "Verdana";
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 8px;
    text-align: center;

}
.adventageText{
    font-style: "Verdana";
    font-size: 1em;
    margin: 0 40px 10px;
    text-align: center;
}
.advantages{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.componentsTextTitle{
    margin-top: 40px;
}
.advantage{
    flex: 1
}

.applyButtonParent{
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    margin: 30px 0 50px;
}

.applyButton {
    padding: 5px 30px;
    width: fit-content;
    border-radius: 10px;
    background-color: #eb6601;
    color: white;
}
