.adventageTitle{
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 8px;
    text-align: center;

}
.adventageText{
    font-size: 1em;
    margin: 0 40px 10px;
    text-align: center;
}
.advantages{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.componentsTextTitle{
    margin-top: 40px;
}
.advantage{
    flex: 1
}
